$color-white: #fff;

$color-blue: #009FE3;
$color-blue-2: #1490DF;
$color-blue-3: #2BC6FF;
$color-blue-4:#EEF6FC;
$color-blue-5:#038BFF;

$color-blue-light: #F7F8FB;
$color-blue-light-2: #E2F3FC;

$color-navy-blue: #232B76;
$color-navy-blue-2: #042164;
$color-navy-blue-3:#22304F;

$color-black-3: #333333;
$color-black-4:#4D4D4F;
$color-black-6: #666666;

$color-gray-light:#707070;
$color-gray-light-2:#F5F5F5;
$color-blue-light-3:#555555;


$color-orange:#F88F25;
$color-orange-2:#F26531;

$color-yellow-1:#FEC24F;
$color-yellow-2:#E8C372;
$color-yellow-3:#FFFAF0;
$color-yellow-4:#FFF5E2;

$color-red:#9E1E21;